<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPS Prediction | {{ title }}</title>

    <!-- TAILWIND CSS -->
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body class="flex h-screen items-center justify-center bg-slate-200">
    <form action="/predict" method="post"
        class="grid grid-cols-2 grid-rows-6 gap-x-12 gap-y-4 rounded-md border border-slate-400 pt-12 pb-6 px-10 bg-white shadow-md">
        <h1 class="col-span-2 text-center text-3xl font-bold text-slate-800">{{ subtitle }}</h1>

        {% for field in fields %}

        <div class="">
            <label for="{{field}}" class="block font-semibold mb-1">{{field}}</label>
            <input type="number" min="0.00" max="100.00" step="0.01" name="{{field}}" id="{{field}}"
                class="border border-blue-300 rounded-md p-1 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-800 w-full"
                required />
        </div>

        {% endfor %}

        <button type="reset"
            class="rounded-md border border-red-600 bg-red-500 font-semibold text-white mt-4 h-12 hover:bg-red-600 focus:bg-red-600 active:bg-red-700 focus:outline-none focus:ring-1 focus:ring-red-800">Reset</button>
        <button type="submit"
            class="rounded-md border border-blue-600 bg-blue-500 font-semibold text-white mt-4 h-12 hover:bg-blue-600 focus:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring-1 focus:ring-blue-800">Submit</button>
    </form>
</body>

</html>